



@media (min-width: 992px) {

    .linkuno{
        position: absolute;
        left: 5%;
        top: 30%;
        padding-right: 6%;
    }


    .linkdos{
        position: absolute;
        left: 25%;
        top: 30%;
    }

    .linktres{
        position: absolute;
        left: 65%;
        top: 30%;
    }


    .linkcuatro{
        position: absolute;
        left: 75%;
        top: 30%;
        padding-left: 6%;
    }

    .altoheader{
        height: 100px;
    }


    .logoheader{
        position: absolute;
        left: 40%;
        margin-right: 200px;
    }
}


.fuente{
    font-family: sans-serif;
}

.color{
    background-color: #2A292C;
}

.sectionfuente{
    font-family: fantasy;
}

.sectionfuentedos{
    font-family: sans-serif;
    color: #939393;
}

@media (max-width: 992px) {
    .columnasindex{
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (min-width: 992px) {
    .borde{
        border-right: 2px solid rgba(197, 8, 8, 0.856);
    
    }
}


/*---------------Pizzas----------------------*/

.fondopizzas{
    background-image: url(https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?cs=srgb&dl=pexels-henry-%26-co-1939485.jpg&fm=jpg);
    background-size: cover;
}

